<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moonstarmall.mappers.AdProductMapper">

	<!-- 1차카테고리 조회 -->
	<select id="mainCategory" resultType="CategoryVO">
		SELECT CAT_CODE, CAT_PRTCODE, CAT_NAME
		FROM CATEGORY_TBL
		WHERE CAT_PRTCODE IS NULL
	</select>
	
	<!-- 2차카테고리 조회 -->
	<select id="subCategory" resultType="CategoryVO">
		SELECT CAT_CODE, CAT_PRTCODE, CAT_NAME
		FROM CATEGORY_TBL
		WHERE CAT_PRTCODE = #{subCategory}
	</select>
	
	<!-- 상품 등록 -->
	<insert id="productInsertOK" parameterType="ProductVO">
		INSERT INTO PRODUCT_TBL(PRO_NUM, CAT_CODE, PRO_NM, PRO_PRICE, PRO_DISCOUNT, PRO_PUBLISHER, 
			PRO_DTL_INFO, PRO_MAIN_IMG, PRO_COUNT, PRO_BUY_YN)
		VALUES(seq_pro_num.NEXTVAL, #{cat_code}, #{pro_nm}, #{pro_price}, #{pro_discount}, #{pro_publisher}, 
			#{pro_dtl_info}, #{pro_main_img}, #{pro_count}, #{pro_buy_yn})
	</insert>

	<!-- 상품 리스트 -->
	<select id="productList" parameterType="SearchCriteria" resultType="ProductVO">
		SELECT PRO_NUM, CAT_CODE, PRO_NM, PRO_PRICE, PRO_DISCOUNT, PRO_PUBLISHER, 
		    PRO_DTL_INFO, PRO_MAIN_IMG, PRO_COUNT, PRO_BUY_YN, STA_DATE, UDT_DATE
		FROM (SELECT PRO_NUM, CAT_CODE, PRO_NM, PRO_PRICE, PRO_DISCOUNT, PRO_PUBLISHER, 
		    PRO_DTL_INFO, PRO_MAIN_IMG, PRO_COUNT, PRO_BUY_YN, STA_DATE, UDT_DATE, 
		    row_number() over (order by PRO_NUM desc) P_SEQ FROM PRODUCT_TBL
		    <include refid="search" />)
		WHERE P_SEQ BETWEEN #{rowStart} and #{rowEnd}
		ORDER BY PRO_NUM DESC
	</select>
	
	<select id="readProduct" parameterType="int" resultType="ProductVO">
		SELECT  PRO_NUM, 
        (SELECT CAT_NAME FROM CATEGORY_TBL CG WHERE CG.CAT_CODE = C.CAT_PRTCODE) AS CAT_PRTCODE, C.CAT_NAME AS CAT_CODE,
        PRO_NM, PRO_PRICE, PRO_DISCOUNT, PRO_PUBLISHER, 
        PRO_DTL_INFO, PRO_MAIN_IMG, PRO_COUNT, PRO_BUY_YN, STA_DATE, UDT_DATE
		FROM PRODUCT_TBL P INNER JOIN CATEGORY_TBL C
		ON P.CAT_CODE = C.CAT_CODE
		WHERE P.PRO_NUM = #{pro_num}
	</select>
	
	<!-- 상품 총 건수 -->
	<select id="productSearchCount" parameterType="SearchCriteria" resultType="int">
		<![CDATA[
			SELECT COUNT(PRO_NUM)
			FROM PRODUCT_TBL
		]]>
		<include refid="search" />
	</select>
	
	<!-- 검색 조건 : 공통으로 사용하는  구문 -->
	<sql id="search">
		<if test="searchType != null">
			<!-- 상품명 -->
			<if test="searchType == 'name'.toString()"> 
				where pro_nm like '%' || #{keyword} || '%'
			</if>
			<!-- 내용 -->
			<if test="searchType == 'dtl_info'.toString()"> 
				where pro_dtl_info like '%' || #{keyword} || '%'
			</if>
			<!-- 제조사 -->
			<if test="searchType == 'publisher'.toString()"> 
				where pro_publisher like '%' || #{keyword} || '%'
			</if>
			<!-- 상품명 + 내용 -->
			<if test="searchType == 'name_dtl_info'.toString()"> 
				where (pro_nm like '%' || #{keyword} || '%')
				or (pro_dtl_info like '%' || #{keyword} || '%')
			</if>
			<!-- 상품명 + 제조사 -->
			<if test="searchType == 'name_publisher'.toString()"> 
				where (pro_nm like '%' || #{keyword} || '%')
				or (pro_publisher like '%' || #{keyword} || '%')
			</if>
			<!-- 상품명 + 내용 + 제조사 -->
			<if test="searchType == 'all'.toString()"> 
				where (pro_nm like '%' || #{keyword} || '%')
				or (pro_dtl_info like '%' || #{keyword} || '%')
				or (pro_publisher like '%' || #{keyword} || '%')
			</if>
		</if>
	</sql>

</mapper>