<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moonstarmall.mappers.OrderMapper">

	<!-- 상품상세정보에 대한 주문요청내역 조회 -->
	<select id="proDtlorderInfo" parameterType="CartVO" resultType="HashMap">
		SELECT  C.CART_CD, C.USER_ID, P.PRO_NUM, P.PRO_NM, P.PRO_MAIN_IMG, C.BUY_COUNT,
        P.PRO_PRICE-(P.PRO_PRICE*(P.PRO_DISCOUNT/100)) AS DISCOUNT_PRICE
		FROM PRODUCT_TBL P INNER JOIN CART_TBL C
		ON P.PRO_NUM = C.PRO_NUM
		AND C.PRO_NUM = #{pro_num}
		AND C.USER_ID = #{user_id}
		ORDER BY C.CART_CD
	</select>

	<!-- 주문요청내역 조회 : 단건 -->
	<select id="orderInfoOne" parameterType="int" resultType="HashMap">
		SELECT  C.CART_CD, C.USER_ID, P.PRO_NUM, P.PRO_NM, P.PRO_MAIN_IMG, C.BUY_COUNT,
        		P.PRO_PRICE-(P.PRO_PRICE*(P.PRO_DISCOUNT/100)) AS DISCOUNT_PRICE
		FROM PRODUCT_TBL P INNER JOIN CART_TBL C
		ON P.PRO_NUM = C.PRO_NUM
		AND C.CART_CD = #{cart_cd}
		ORDER BY C.CART_CD
	</select>
	
	<!-- 주문요청내역 조회 : 여러건 -->
	<select id="orderInfoAll" parameterType="Map" resultType="HashMap">
		SELECT  C.CART_CD, C.USER_ID, P.PRO_NUM, P.PRO_NM, P.PRO_MAIN_IMG, C.BUY_COUNT,
        		P.PRO_PRICE-(P.PRO_PRICE*(P.PRO_DISCOUNT/100)) AS DISCOUNT_PRICE
		FROM PRODUCT_TBL P INNER JOIN CART_TBL C
		ON P.PRO_NUM = C.PRO_NUM
		AND C.CART_CD IN (${cart_cd})
		ORDER BY C.CART_CD
	</select>
	
	<!-- 주문번호 시퀀스 조회 -->
	<select id="orderSeq" resultType="int">
		SELECT SEQ_ORD_CD.NEXTVAL
		FROM DUAL
	</select>
	
	<!-- 주문정보 저장 -->
	<insert id="orderInsert" parameterType="OrderVO">
		INSERT INTO ORDER_INFO (ORD_CD, USER_ID, ORD_NM, ZIP_NUM, ADDR, ADDR_DTL, TEL_PHONE, CELL_PHONE, 
					PAY_AMOUNT, PAYMENT, PAY_NM, ORD_STATE)
		VALUES(#{ord_cd}, #{user_id}, #{ord_nm}, #{zip_num}, #{addr}, #{addr_dtl}, #{tel_phone}, #{cell_phone}, 
					#{pay_amount}, #{payment}, #{pay_nm}, '입금대기중')
	</insert>
	
	<!-- 주문정보상세 저장 -->
	<insert id="orderDtlInsert" parameterType="Map">
		INSERT INTO ORDER_DTL (ORD_CD, PRO_NUM, BUY_COUNT, BUY_PRICE)
		SELECT #{ord_cd}, C.PRO_NUM, C.BUY_COUNT, (P.PRO_PRICE-(P.PRO_PRICE*(P.PRO_DISCOUNT/100)))*C.BUY_COUNT AS BUY_PRICE
		FROM CART_TBL C, PRODUCT_TBL P
		WHERE C.PRO_NUM = P.PRO_NUM
		AND C.CART_CD IN (${cart_cd})
	</insert>
	
	<!-- 주문정보 조회 -->
	<select id="list" parameterType="String" resultType="OrderVO">
		SELECT ORD_CD, USER_ID, ORD_NM, ZIP_NUM, ADDR, ADDR_DTL, TEL_PHONE, CELL_PHONE, PAY_AMOUNT, PAYMENT, PAY_NM, ORD_STATE, ORD_DATE
		FROM ORDER_INFO
		WHERE USER_ID = #{user_id}
	</select>
	
	<!-- 주문정보상세 조회 -->
	<select id="orderDtl" parameterType="int" resultType="OrderDetailVO">
		SELECT ORD_CD, PRO_NUM, BUY_COUNT, BUY_PRICE
		FROM ORDER_DTL
		WHERE ORD_CD = #{ord_cd}
	</select>

</mapper>